{% extends "listing/__base.html" %}
{% load static %}
{% load wagtailimages_tags %}

{% block wrapcontent %}
			<!-- SLIDER -->
			<section id="slider" class="half-screen" data-autoplay="false" data-mouseover-stop="false"><!-- data-autoplay = 'fals'e or miliseconds. Eg.: 5s = '5000' ; data-mouseover = stop on mouseover. 'true' or 'false') -->

				<!-- slider navigation -->
				<nav class="slides-navigation">
					<a class="prev" href="#"></a>
					<a class="next" href="#"></a>
				</nav>

				<ul class="slides-container">

                {% for img in self.images.all %}
					<li>
						<div class="image-caption">
							<div class="inner text-left"><!-- text center , text-left or text-right -->
								<div class="block">
                                    <h2>{{ self.title }}</h2>
								</div>
								<div class="block realestate-caption">
									<h4>Florida 5, Pinecrest, FL</h4>
									<p>
										Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br />
										nonummy nibh euismod tincidunt ut.
									</p>
									<span class="price">

										$625,000
										<span class="price-old">$625,000</span>

										<!-- view more button -->
										<a href="realestate-single.html" class="btn btn-default btn-xs view-more pull-right">VIEW MORE</a>
										<span class="clearfix"></span>
										<!-- /view more button -->

									</span>

								</div>
							</div>
						</div>

						<!--<span class="overlay"></span>-->
                        <!-- <div style="background&#45;image: url('{% static "listing/images/demo/realestate/2.jpg" %}" %}');" class="fullscreen&#45;img"></div>\ -->
                        {% image img.image original as tmp_photo %}
                        <div style="background-image: url('{{ tmp_photo.url }}');" class="fullscreen-img"></div>
					</li>

              {% endfor %}
				</ul>

			</section>
			<!-- /SLIDER -->
			


			<!-- FILTER BOX -->
			<section class="container re-filterbox no-top"><!-- add "styleBackground" class for colored box -->

				<form id="re-filter" action="realestate-list.html" method="get">
					<div class="row">
						<div class="form-group">

							<div class="col-md-2 col-sm-6 col-xs-12">
								<label>Property ID</label>
								<input type="text" class="form-control" name="re_id" />
							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">
								<label>Location</label>
								<select class="form-control" name="re_location">
									<option value="0">Any</option>
									<option value="1">New York</option>
									<option value="2">Los Angeles</option>
									<option value="3">Las Vegas</option>
									<option value="4">Palo Alto, SA</option>
									<option value="5">Silcon Valey, SA</option>
								</select>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<label>Type</label>
								<select class="form-control" name="re_type">
									<option value="0">Any</option>
									<option value="1">Apartment</option>
									<option value="2">Villa</option>
									<option value="3">Family House</option>
									<option value="4">Condo</option>
									<option value="5">Cottage</option>
									<option value="6">Building Area</option>
									<option value="7">Single Home</option>
								</select>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<label>Property Status</label>
								<select class="form-control" name="re_status">
									<option value="0">Any</option>
									<option value="1">Rent</option>
									<option value="2">Sale</option>
								</select>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group">

							<div class="col-md-2 col-sm-6 col-xs-6">
								<label>Beds</label>
								<select class="form-control" name="re_beds">
									<option value="0">Any</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10+">10+</option>
								</select>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-6">
								<label>Baths</label>
								<select class="form-control" name="re_baths">
									<option value="0">Any</option>
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10+">10+</option>
								</select>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-6">
								<label>Price From</label>
								<select class="form-control" name="re_price_from">
									<option value="0">Any</option>
									<option value="1000">$1000</option>
									<option value="2000">$2000</option>
									<option value="3000">$3000</option>
									<option value="5000">$5000</option>
									<option value="10000">$10000</option>
									<option value="2000">$2000</option>
									<option value="100000">$100000</option>
									<option value="300000">$300000</option>
									<option value="1000000+">1000000+</option>
								</select>
							</div>
							<div class="col-md-2 col-sm-6 col-xs-6">
								<label>Price To</label>
								<select class="form-control" name="re_price_to">
									<option value="0">Any</option>
									<option value="1000">$1000</option>
									<option value="2000">$2000</option>
									<option value="3000">$3000</option>
									<option value="5000">$5000</option>
									<option value="10000">$10000</option>
									<option value="2000">$2000</option>
									<option value="100000">$100000</option>
									<option value="300000">$300000</option>
									<option value="1000000+">1000000+</option>
								</select>
							</div>

							<div class="col-md-4 col-sm-12 col-xs-12">
								<label>&nbsp;</label>
								<button class="btn btn-primary fullwidth">FILTER NOW</button>
							</div>
						</div>
					</div>

				</form>


			</section>
			<!-- /FILTER BOX -->



			<section class="container">
				<div class="row">

					<!-- center column -->
					<div class="col-md-9">

						<h3 class="page-header nomargin-top">
							<a href="realestate-list.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
							Recent <strong class="styleColor">Properties</strong> 
						</h3>

						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/2.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>700 Front Street, Key West, FL</h4>
										<small>$350.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/6.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/7.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-6 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/8.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, Hollywood, FL</h4>
										<small>$750.000</small>
										<p>
											Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.
										</p>
										<p>
											<span class="fsize12 pull-right">
												<i class="bed-ico" title="beds"></i> 3 , 
												<i class="garage-ico" title="garage"></i> 1 , 
												<i class="furnished-ico" title="furnished"></i>
											</span>

											<i class="home-ico"></i> 300m<sup>2</sup>
										</p>
									</div>
								</div>
								<!-- /item -->

							</div>

						</div>


						<h3 class="page-header">
							<a href="realestate-list.html" data-toggle="tooltip" title="view more"><i class="fa fa-plus-square-o"></i></a> 
							<strong class="styleColor">Best</strong> Deal
						</h3>

						<div class="row">

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/3.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/4.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

							<div class="col-md-4 col-sm-6 col-xs-12">

								<!-- item -->
								<div class="item-box">
									<figure>
										<a class="item-hover" href="realestate-single.html">
											<span class="overlay color2"></span>
											<span class="inner">
												<span class="block fa fa-plus fsize20"></span>
												<strong>VIEW</strong> OFFER
											</span>
										</a>
										<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/5.jpg" %}" width="409" height="271" />
									</figure>
									<div class="item-box-desc">
										<h4>1903 Hollywood Blvd, FL</h4>
										<small>$750.000</small>
										<p>Billions of people travel in China during Lunar New Year. Check out the mind-boggling figures.</p>
									</div>
								</div>
								<!-- /item -->

							</div>

						</div>

					</div>

					<!-- side column -->
					<div class="col-md-3">

						<!-- HOT -->
						<h3 class="page-header nomargin-top margin-bottom40">
							Today's <strong class="styleColor">Hot</strong>
						</h3>

						<!-- No #1 Hot -->
						<div class="item-box nomargin-top">
							<figure>
								<a class="item-hover" href="realestate-single.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>VEW</strong> OFFER
									</span>
								</a>
								<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/1.jpg" %}" />
							</figure>
							<div class="item-box-desc">
								<h4 class="wrap"><a class="styleColor" href="#">1903 Hollywood Blvd, FL</a></h4>
								<small class="font300 text-center block">~ $112.000 ~</small>
							</div>
						</div>
						<!-- /No #1 Hot -->

						<!-- video -->
						<iframe src="http://player.vimeo.com/video/73221098" width="800" height="450"></iframe>
						<h5 class="font300 padding10">
							<small class="text-center block">(3287 views last 3 days)</small>
						</h5>
						<!-- /video -->

						<!-- small articles -->
						<div class="row">
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/3.jpg" %}" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Horses hypnotized by the sea</h6>
								</a>							
							</div>
							<div class="col-xs-6 col-md-6">
								<a href="#">
									<img alt="" class="img-responsive" src="{% static "listing/images/demo/realestate/images/thumb/4.jpg" %}" />
									<h6 class="fsize12 font300 padding6 styleSecondColor">Sochi protesters fight to be heard</h6>
								</a>							
							</div>
						</div>
						<!-- /small articles -->



						<!-- TWEETS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							Latest <strong class="styleColor">Tweets</strong> 
						</h3>

						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>
						<p>
							<a href="#">@tweetuser</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
							<small class="block styleColor">12 hours ago</small>
						</p>

						<!-- SOCIALS -->
						<h3 class="page-header">
							<i class="fa fa-twitter"></i> 
							<strong class="styleColor">Follow</strong> Us
						</h3>

						<a href="#" class="social fa fa-facebook"></a>
						<a href="#" class="social fa fa-twitter"></a>
						<a href="#" class="social fa fa-google-plus"></a>
						<a href="#" class="social fa fa-linkedin"></a>
						<a href="#" class="social fa fa-pinterest"></a>
						<a href="#" class="social fa fa-flickr"></a>

					</div>

				</div>

			</section>


			<section class="container">

				<!-- CALLOUT -->
				<div class="row bs-callout">
					<div class="col-md-8 text-center">
						<h3 class="padding20">Subscribe <strong>now</strong> and get the most <strong>important</strong> news.</h3>
					</div>
					<div class="col-md-4">

						<p class="nomargin">Type your best E-mail Address</p>

						<form method="get" action="#" class="input-group">
							<input type="text" class="form-control" name="k" id="k" value="" placeholder="E-mail Address" />
							<span class="input-group-btn">
								<button class="btn btn-primary"><i class="fa fa-search"></i></button>
							</span>
						</form>

					</div>
				</div>
				<!-- /CALLOUT -->

			</section>

			<section class="container">
					
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="featured-box noradius responsive-line-bottom">
							<i class="lightgray fa fa-map-marker hidden-xs"></i>
							<h4>Listing</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							<a href="page-left-sidebar.html" class="btn btn-primary btn-xs">READ MORE</a>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="featured-box noradius line-left responsive-line-bottom">
							<i class="lightgray fa fa-globe hidden-xs"></i>
							<h4>Advertise</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							<a href="page-pricing.html" class="btn btn-primary btn-xs">READ MORE</a>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="featured-box noradius line-left">
							<i class="lightgray fa fa-road hidden-xs"></i>
							<h4>Guidance</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus.</p>
							<a href="page-right-sidebar.html" class="btn btn-primary btn-xs">READ MORE</a>
						</div>
					</div>

					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="featured-box noradius line-left">
							<i class="lightgray fa fa-key hidden-xs"></i>
							<h4>Free Tiral</h4>
							<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus. </p>
							<a href="page-full-width.html" class="btn btn-primary btn-xs">READ MORE</a>
						</div>
					</div>

				</div>
					
			</section>
{% endblock %}
